body {
    font-family: Merriweather, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Merriweather Sans", sans-serif;
}

/* * {
    margin: 0;
    padding: 0;
     border: 1px solid green; /universal selector(*)
} */
/* p {
    color: purple;
}

.tag {
    color: orange;
}

#features {
    color: gold;
} */

/* Atttibute any of the properties that can be added within an element. */


/* input[type="number"] {
    background-color: gold;
}

a[href*="wiki"] {
    color: cyan;
}

a[href^="#"] {
    color: darkviolet;
} */

/* a[href$=".org"]{  /another way of selecting link that ends with .com,.org,etc.

} */

/* Selector List */


/* h2 {
    font-family: "Merriweather Sans", sans-serif;
} */

/* .score,
.tag {
    color: white;
    background-color: orangered;
} */


/* Decendant combinator */

#cast span {
    color: grey;

}

ol>li {
    border: 1px solid red;
}

/* Compund Selector */
h2.score {
    color: violet;
}

/* element with 2 classes */
.big.score {
    color: green;
}