/* POSITION */

/* Static-default value of the property */
/* p {
    border: 1px solid black;
    background-color: magenta;
    margin: 30px;
    font-size: 2rem;
} */

/* relative */

/* #special {
    position: relative;
    background-color: aqua; */
/* top: 20px; */
/* top: -20px; */
/* bottom: -20px; */
/* top: 40px;
    left: 40px;
} */


/* z-index */
/* p {
    border: 1px solid black;
    background-color: magenta;
    margin: 30px;
    font-size: 2rem;
    z-index: 2;
    position: relative;
} */

/* #special {
    position: relative;
    background-color: aqua; */
/* top: 20px; */
/* top: -20px; */
/* bottom: -20px; */
/* top: 200px;
    left: 40px;
    z-index: 1;
} */

/* position property
value: absolute  */
/* .box {
    background-color: olive;
    height: 200px;
    width: 200px;
    display: inline-block;
} */

/* .special {
    background-color: orangered; */
/* position: relative;
    left: -50px;
    top: -50px;*/
/* position: absolute; */
/* left: 0; */
/* top: 0; */
/* right: 0; */
/* top: 0px; */
/* bottom: 0;

} */

/* when the parent is given postion property other than its default value */
/* .box {
    background-color: olive;
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
}

.box span {
    color: white;
    background-color: orangered;
    position: absolute;
    right: 0;
} */

/* Creating a Button Budge */

/* body {
    background: radial-gradient(#0288d1, #01579b);
    height: 100vh;
    font-family: "DM Sans", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 15px 30px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.badge {
    background-color: #4caf50;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 50%;
    position: absolute;
    right: -12px;
    top: -12px;
} */

/* Position: fixed */

span {
    font-size: 2rem;
    display: block;
    width: 100%;
    padding: 30px;
    background-color: orchid;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}