/* CSS Grid Layout excel at dividing a page into major regions or defining the relationship in terms of size, positions, and layer, between parts of a control built from html primitives 
Grid is layout system built into CSS
A collection of CSS properties used to manage layouts far easier than before*/
/* A CSS Grid is primarily made up of a GRid Container with Grid Items inside of it */
/* Grid Containers are parent elements while Grid Items are children of the parent. */
/* Flexbox- controls rows or column */
/* CSS Grid-controls rows and column */


/* Grid Template column */
/* .container {
    height: 700px;
    width: 700px;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
    display: grid; */
/* grid-template-columns: 1fr 2fr 1fr; */
/* grid-template-columns: 100px 1fr 2fr 100px;
    grid-template-columns: 3fr 1fr;
    /* display: flex;
}

/* Grid Template Rows */
/* .container {
    height: 700px;
    width: 700px;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
    display: grid; */
/* grid-template-rows: 100px 100px 100px;
    grid-template-rows: 1fr 3fr 1fr;
}


/* Grid-Template column and Grid Template row combination */
/* .container {
    height: 700px;
    width: 700px;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr; */
/* grid-template-rows: 1fr 350px 1fr 2fr;
}

/* Grid Template Shorthand Property */
/* .container {
    height: 700px;
    width: 700px;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
/* Using Shorthand Property
    grid-template: rows/columns
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
} */

/* The Minmax() Function */
/* .container {
    height: 700px;
    width: 80%;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid; */
/* grid-template-columns: minmax(200px, 600px); */
/* grid-template-columns: minmax(500px, 700px) minmax(500px, 700px); */
/* grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr); */
/* grid-template-columns: minmax(500px, 2fr) minmax(500px, 1fr); 
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: minmax(100px, 300px); 
    grid-template-rows: minmax(100px, auto);
}


/* The Repeat function -lets you define many columns or rows with certain values with ease, instead of typing the same thing over and over*/
/* .container {
    height: 700px;
    width: 80%;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
     grid-template-columns: repeat(4, minmax(100px, 200px)); 
     grid-template-rows: repeat(2, 1fr);
    grid-template: repeat(2, 1fr) / repeat(5, minmax(100px, 250px));
} */


/* The fit content function-tell a grid track to be as wide/tall as its content, but with a max value that it shoudn't exceed. It takes a bunch of different values, like px, %, etc. as a max */
/* .container {
    height: 700px;
    width: 80%;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: fit-content(300px) fit-content(300px) fit-content(300px);
} */

/* Controlling Grid Gaps- Grid containers come with gap styles to easily control the spacing between Grid Itetms, such as column-gap and row-gap */
/* .container {
    height: 700px;
    width: 80%;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid;
    grid-template: 1fr 1fr / repeat(4, 1fr);
     column-gap: 20px;
    row-gap: 20px;
     grid-gap: 20px;
    gap: 10px 40px;
} */

/* Working with Grid lines */

/* Grid Items are child elements of any Grid Container. Many properties are available to Grid Items for them to position themselves in the container */
/* .container {
    height: 700px;
    width: 80%;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} */

/* Positioning Grid Items -using number values, you can specify which gridlines the Grid Items should span, It will start at the beginning of the column/row you specify and end right before the column/row you specify */
/* .container {
    height: 700px;
    width: 700px;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
/* using bigger grid tracks 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.box {
    color: white;
    font-size: 1.5rem;
    text-align: center;
} */

/* Positioning the items using the grid-column start,end and grid-row start,end*/
/* .first {
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
} */

/* .second {
    grid-column-start: 2;
    /* grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
} */

/* Using span, you can specify how many columns/rows a grid item should span. Note: by default it starts in the first column/row, and the number refers to grid tracks, not grid lines 
syntax: grid-column/row start/end: span (value)*/

/* .second {
    /* grid-column-start: 1; 
    grid-column-end: span 3;
    /* grid-row-start: 1;
    grid-row-end: span 2;
} */

/* The Grid area shorthand property */
/* Syntax:
grid-column: start/end
grid-row: start/end */

/* .first {
    /* grid-column: 2/3;
    grid-row: 2/3; 
    grid-column: 2/4;
    grid-row: 2/ span 2;
}

.second {
    /* grid-row: 4;
    grid-column: 1/5; 
    grid-area: 4 / 1 / 5 / 4;
} */

/* Naming our Grid lines */
/* .container {
    height: 700px;
    width: 700px;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid;
    grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] 1fr [col3-end];
    grid-template-rows: [row1-start] 1fr [row1-end row2-start] 1fr [row2-end]
}

.box {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.first {
    grid-column-start: col2-start;
    grid-column-end: col3-end;
    grid-row-start: row2-start;
} */

/* Grid Template Areas */
/* grid-template-areas:"a a c" "b b c" */
/* .container {
    height: 700px;
    width: 700px;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid;
    grid-template-areas:
        "a a c"
        "b b c";
}

.box {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.first {
    grid-area: a;
}

.second {
    grid-area: b;
}

.third {
    grid-area: c;
} */



/* Grid Templates with Rows and Column */
/* .container {
    height: 700px;
    width: 700px;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 150px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "navbar navbar navbar"
        "main main sidebar"
        ". footer .";
}

.box {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.first {
    grid-area: navbar;
}

.second {
    grid-area: main;
}

.third {
    grid-area: sidebar;
}

.fourth {
    grid-area: footer;
}
 */

/* Dynamic Grid using grid-auto-flow:row/column
grid-auto-flow:row dense*/
/* .container {
    height: 700px;
    width: 700px;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-auto-flow: column dense;
}

.box {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.first {
    grid-row-start: 2;
} */

/* Grid auto columns/rows */
/* .container {
    /* height: 700px;
    width: 800px;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid;
    grid-template: repeat(2, 200px) / repeat(4, 200px);
    /* grid-auto-flow: row;
    grid-auto-rows: 200px; 
    grid-auto-flow: column;
    grid-auto-columns: 200px;
}

.box {
    color: white;
    font-size: 1.5rem;
    text-align: center;
} */


/* Responsive Grids-autofill + autofit */
/* Auto fill */
.container {
    height: 700px;
    width: 100%;
    margin: 200px auto;
    background-color: black;
    box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.box {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

/* Autofit */
.fit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}