body {
    font-family: 'Space Mono', monospace;
    background-color: #fdf9fd;
}

h1 {
    font-size: 90px;
    line-height: 1;
    font-weight: 400;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 15px;
}

div {
    width: 70%;
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
}

span {
    text-shadow: 0 -6.25px #0c2ffb, 0 -12.5px #2cfcfd, 0 6.25px #fb203b, 0 12.5px #fefc4b;
}

/* #0c2ffb, #2cfcfd, #fb203b, #fefc4b */

@media only screen and (max-width:1700px) {
    div {
        width: 75%;
    }

    span {
        text-shadow: 0 -4.25px #0c2ffb, 0 -10.5px #2cfcfd, 0 5.5px #fb203b, 0 10.5px #fefc4b;
    }
}

@media only screen and (max-width:1200px) {

    h1 {
        font-size: 70px;
    }

    span {
        text-shadow: 0 -3.25px #0c2ffb, 0 -8.5px #2cfcfd, 0 5.25px #fb203b, 0 8.5px #fefc4b;
    }
}

@media only screen and (max-width:800px) {
    div {
        width: 90%;
        margin: 100px auto;
    }

    span {
        text-shadow: 0 -3.25px #0c2ffb, 0 -8.5px #2cfcfd, 0 6.25px #fb203b, 0 8.5px #fefc4b;
    }
}

@media only screen and (max-width:650px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    span {
        text-shadow: 0 -3.25px #0c2ffb, 0 -6.5px #2cfcfd, 0 6.25px #fb203b, 0 3.5px #fefc4b;
    }
}