/* Linear-gradient() */
/* .box {
    border: 2px solid black;
    height: 400px;
    width: 400px; */
/* background-image: linear-gradient(45deg, cyan, magenta, yellow); */
/* background-image: linear-gradient(to bottom right, cyan 50%, magenta, yellow);

} */

/* Radial-gradient() */

/* .box {
    border: 2px solid black;
    height: 400px;
    width: 400px; */

/* background-image: linear-gradient(45deg, cyan, magenta, yellow); */
/* background-image: radial-gradient(cyan, magenta, yellow);
} */

/* Conic-gradient() */

/* .box {
    border: 2px solid black;
    height: 400px;
    width: 400px; */
/* background-image: linear-gradient(45deg, cyan, magenta, yellow); */
/* background-image: conic-gradient(cyan, magenta, yellow, cyan);

} */


/* Repeating-linear-gradient() */
/* .box {
    border: 2px solid black;
    height: 400px;
    width: 400px; */

/* background-image: linear-gradient(45deg, cyan, magenta, yellow); */
/* background-image: repeating-linear-gradient(cyan, magenta, yellow, cyan 10%);

} */

/* Background Shorthand */
/* .box {
    border: 2px solid black;
    height: 700px;
    width: 400px;
    background: url("images/peacock.png") no-repeat center/ 200%
} */

/* filter */

.box {
    border: 2px solid black;
    height: 700px;
    width: 700px;
    background: url("images/people.jpg");
    background-size: cover;
    filter: blur(5px);
}

img {
    width: 500px;
    /* filter: grayscale() contrast(150%); */
    /* filter: contrast(150%); */
    filter: hue-rotate(180deg);
}