body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;

}

.navbar .left {
    font-size: 32px;
    font-weight: bold;
}

.navbar .right {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .right a {
    text-decoration: none;
    color: black;
}

.navbar .right a:hover {
    text-decoration: underline;
}


.navbar .right img {
    width: 24px;
    height: 24px;
}

.bar1,
.bar2,
.bar3 {
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}

.navbar .hamburger {
    /* height: 50px;
    width: 50px; */
    display: none;
}

.mobileNav {
    width: 80px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -160px;
    padding: 16px;
    transition: transform 0.5s;
}

.mobileNav img {
    width: 24px;
    height: 24px;
}

.openDrawer {
    transform: translateX(-160px);
}

.mobileNav a {
    text-decoration: none;
    color: black;
    margin: 16px 0;
}

.mobileNav a:hover {
    text-decoration: underline;
}


.project-grid {
    display: grid;
    grid-template-areas:
        "eth eth alphabet "
        "eth eth traveler"
        "astro cube traveler"
        "cup insta insta"
        "cup insta insta"
        "foam foam dimensional"
        "foam foam dimensional";
    /* row-gap: 16px;
    column-gap: 16px; */
    gap: 16px;
    width: 100%;
    /* max-width: 90%;
    margin: 0 auto; */
}

#eth {
    grid-area: eth;
}

#alphabet {
    grid-area: alphabet;
}

#traveler {
    grid-area: traveler;
}

#astro {
    grid-area: astro;
}

#cube {
    grid-area: cube;
}

#cup {
    grid-area: cup;
}

#insta {
    grid-area: insta;
}

#foam {
    grid-area: foam;
}

#dimensional {
    grid-area: dimensional;
}

.project {
    /* width: 600px; */
    position: relative;
}

.project img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.project .overlay {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.2s ease;
}

.project .overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.overlay.white {
    color: white;
}

.footer {
    text-align: center;
    padding: 64px;
}

/* Making the project responsive */

@media only screen and (max-width:1100px) {
    .container {
        max-width: 100%;
    }

    .project-grid {
        max-width: 100%;
        grid-template-areas:
            "eth eth "
            "alphabet traveler"
            "astro cube"
            "insta insta"
            "cup foam"
            " dimensional dimensional";

    }
}

@media only screen and (max-width:768px) {
    .project-grid {
        margin-top: 100px;
    }

    .navbar {
        padding: 16px 24px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: white;
        width: 100%;
    }

    .navbar .right {
        display: none;
    }

    .navbar .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .navbar .hamburger:hover {
        cursor: pointer;

    }


    .footer {
        font-size: 14px;
        padding: 15px;
    }

    .project-grid {
        grid-template-areas:
            "eth eth "
            "alphabet alphabet"
            "traveler traveler"
            "astro cube"
            "insta insta"
            "cup cup"
            "foam foam"
            " dimensional dimensional";

    }

    .project .overlay {
        font-size: 24px;
    }
}


/* Fading the middle bar */
@keyframes fadeBar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }

    to {
        transform: scaleX(0);
        opacity: 0;
    }
}

/* Rotating the top bar going down */
/* Applying the effect using hardcoded syntax */

/* .hamburger .bar:nth-child(1) {
    animation: flipBar1 1s infinite;
}

.hamburger .bar:nth-child(2) {
    animation: fadeBar2 1s infinite;
}

.hamburger .bar:nth-child(3) {
    animation: flipBar3 1s infinite;
} */

/* Applying javascript to make the hamburger button responsive */
.animateBar1 {
    animation: flipBar1 0.5s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2 0.5s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipBar3 0.5s;
    animation-fill-mode: forwards;
}

@keyframes flipBar1 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(45deg) translate(4px, 10px);
    }
}

/* Rotating the bottom bar going up */
@keyframes flipBar3 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-45deg) translate(4px, -10px);
    }
}