/* p {
    color: magenta;
    word-spacing: 20px;
    line-height: 2;
}

h3 {
    color: orange;
}

li {
    background-color: grey;
}

h1 {
    color: teal;
    background-color: yellow;
    font-family: "Segoe UI", Futura, sans-serif;
    font-size: 60px;
    text-align: center;
    letter-spacing: 10px;
}

a {
    color: black;
    /* background-color: magenta;
    font-style: italic;
}

h2 {
    color: orangered;
    background-color: olivedrab;
}
*/

/* body {
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
} */
body {
    font-family: Montserrat, sans-serif
}

h1 {
    font-weight: 900;
    text-shadow: -2px 2px 10px magenta;
}