/* Modern CSS */

/* CSS Variables- CSS Variables  let us define values that can be reused over and over again! 

Assign the variable name instead of hard-coded values, and then you only ever need to update it in one place to change it everywhere*/

/* CSS Variables are usually defined at the root level, so all elements have access to them, using the :root pseudo selector. To use a variable, just use var(<variable name>); */
/* :root {
    --brand-color: rgb(169, 85, 1);
    --standard-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

button {
    background-color: var(--brand-color);

}

h1 {
    color: var(--brand-color);
    box-shadow: var(--standard-shadow);
}

div {
    border: 3px solid var(--brand-color);
    box-shadow: var(--standard-shadow);
} */

/* Root pseudo class matches the root element of a tree representing the document. In HTML, :root represents the <html> element and is identical to the selector httml, except that its specificity is higher.*/
/* If not declared in the :root pseudo class but still declared in html element selected, only that element will have access to property describe by the declared root element */

/* Variables and media queries */
/* :root {
    --brand-color: rgb(169, 85, 1);
    --standard-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

button {
    background-color: var(--brand-color);

}

h1 {
    color: var(--brand-color);
    box-shadow: var(--standard-shadow);
}

div {
    border: 3px solid var(--brand-color);
    box-shadow: var(--standard-shadow);
}

@media screen and (max-width:800px) {
    :root {
        --brand-color: rgb(161, 30, 197)
    }
} */

/* Using Variables for screen sizes */
/* Storing spacing information */
/* Sample Below */
/* :root {
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
}

button {
    padding: var(--spacing-lg);
}

@media screen and (max-width:800px) {
    button {
        padding: var(--spacing-md);
    }
}


@media screen and (max-width:1600px) {
    button {
        padding: var(--spacing-sm);
    }
} */


/* Instruction to calc() function */
/* The calc() function lets us do some quick math within our CSS!

This can be usueful in many different cases, but it's most commonly used when you need to create a value that is a  mix of units, like percentage and pixels*/

/* button {
    padding: calc(43px - 21px);
} */
/* .box1 {
    background-color: tomato;
    height: 300px;
    width: 40%;
    float: left;
    margin-right: 20px;

}

.box2 {
    background-color: olivedrab;
    height: 300px;
    width: calc(60% - 20px);
    float: right;

} */


/* Rules of Calc()

Tips and tricks when using calc():
-You can use 4 operators: addition, subtraction, multiplication, division
-White space needed around the addition and subtraction operators, but not required for multiplication and division. Getting in the habit of always adding it can't hurt
-Dividing by  will cause errors
-You can nest calc() functions
-You can use CSS variables with calc() functions
-*/

/* samples */

/* Using calc with 4 operators */
/* .box1 {
    background-color: tomato;
    height: 300px;
    /* width: calc(50% + 100px);
    width: calc(50% * 2);
    float: left;
    margin-right: 20px;

} */

/* Using calc() as a nested elements */
/* .box1 {
    background-color: tomato;
    height: 300px;
    width: calc(calc(50% - 200px) * 2);s
    float: left;
    margin-right: 20px;
} */


/* Using CSS variables with calc() functions */

/* :root {
    --spacing: 10px;
}

.box1 {
    background-color: tomato;
    height: 300px;
    width: calc(var(--spacing) * 20);
    float: left;
    margin-right: 20px;

} */

/* Another Example of Calc() function usage in CSS */
/* Using Calc() in positioning elements */

.box {
    background-color: cyan;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}


/* Centering without using calc() function */
/* .tinybox {
    background-color: magenta;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -100px;
    margin-top: -50px;
} */

/* Centering using calc() function */
.tinybox {
    background-color: magenta;
    width: 200px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    right: calc(50% - 100px);

}