body {
    font-family: Mukta, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Bitter, serif;
    font-weight: 500;
}

.hero {
    background-color: #863ae8;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1,
.hero p {
    width: 75%;
    max-width: 900px;
    margin: 10px 0;
}

.hero hr {
    width: 50%;
    margin: 32px 0;
}

h1 {
    font-size: 80px;
    letter-spacing: -1.5px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 50px;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 38px;
    letter-spacing: 0;
}

h4 {
    font-size: 30px;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 24px;
    letter-spacing: 0.25px;
}

h6 {
    font-size: 20px;
    letter-spacing: 0.25px;
}

code {
    color: #e95400;
    font-weight: bold;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
}

.content h3 {
    text-transform: capitalize;
}

.info {
    text-align: center;
    text-transform: uppercase;
    font-family: Bitter, serif;
    font-weight: bold;
    font-size: 14px;
}

.info span {
    color: #e95400;
    letter-spacing: 1.5px;
}

.headline {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0px;
    margin: 40px 0;
    font-size: 18px;
}



.qoute {
    font-style: italic;
    font-size: 14px;
    border-left: 2px solid #e95400;
    padding-left: 16px;
    margin: 32px 0 32px 32px;
}

.qoute cite {
    display: block;
    font-weight: bold;
    margin-left: 20px;
}

footer {
    background-color: #863ae8;

}

footer ul {
    list-style: none;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
    padding: 28px 0;
}

footer ul li {
    display: inline;
    padding: 0 16px;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer li a:hover {
    text-decoration: underline;

}