body {
    background: linear-gradient(to bottom right, #3899ee, #38e2ee);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: white;
    color: #401aff;
    letter-spacing: 0.05rems;
    border-radius: 0.3rem;
    padding: 2rem 7rem;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 1rem;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

}

.btn1 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn1:hover {
    transform: translateY(-5px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 14px rgba(0, 0, 0, 0.22);
}

.btn2 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 14px rgba(0, 0, 0, 0.22);
}

.btn2:hover {
    transform: scale(0.95);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.22)
}