/* Border Property */
/*/h1 { 
    border-width: 2px;
    /* border-color: gold; */
/* border-top-color: red;
    border-bottom-color: yellow;
    border-right-color: green;
    border-left-color: blue;
    border-style: groove;
    border-bottom-style: dotted; */
/* border: 2px solid green;
    border-top-color: purple; */
/* border-bottom: 3px dashed magenta; */
/* border: 2px solid olivedrab;
    width: 500px;
    height: 60px;

}

#container {
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

.box {
    border: 1px solid orange;
    height: 50%;
    width: 50%;
} */

/* Padding Property */
/* #link {
    font-size: 30px;
    border: 1px solid red;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px; 
    padding: 20px; 
    padding: 5px 10px 15px 20px; 
    /padding: 0 20px; 
}  */

/* Margin Property- a space between elements */
/* Same syntax with padding */

/*h1 {
    border: 1px solid salmon;
    margin: 30px;
    /* margin-top, margin-bottom, margin-left, margin-right */
/* margin: 10px(T) 20px(R) 15px(B) 5px(left) */
/* margin: 20px(top,Bottom) 50px(left,right); */
/*

}

/* a {
    border: 1px solid olive;
} */

/* Alternative Box Model */

/* .box{
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 5px solid black; Regular box model
} */

/* .box {
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 5px solid black; Alternative Box Model
    box-sizing: border-box;
} */

/* div {
    background-color: purple;
    margin: 30px;
    height: 200px;
    width: 200px;
    border: 5px solid cyan;
    padding: 10px;
}

#alternate {
    box-sizing: border-box;
} */

/* DISPLAY PROPERTY */

/* p {
    font-size: 30px;
}

#word {
    border: 1px solid teal;
    padding: 20px;
    margin: 20px;
    height: 50px;
    width: 100px;
    display: inline-block;
}

h1 {
    border: 1px solid teal;
    padding: 20px;
    margin: 20px;
    height: 300px;
    display: inline;
}

.box {
    border: 1px solid red;
    height: 200px;
    width: 200px;
    display: inline-block;
} */

/* DISPLAY NONE */

/* h1 {
    display: none;
} */

/* MARGIN PROPERTY (Negative and Auto Margin)*/

/* h1 {
    margin: -20px;
}

#container {
    border: 1px solid purple;
    background-color: lavenderblush;
    height: 400px;
    width: 400px;
}

#container h3 {
    text-align: center;
    border: solid black;
    width: 150px;
    margin: 0 100px;
    margin: auto;
} */

/* COLLAPSING MARGIN */
/* p {
    border: 1px solid mediumseagreen;
    margin: 20px;
    width: 100px;
    display: inline-block;

} */

/* Vertical Margin Collapse, Horizontal Margins will not */

/* COMMON LAYOUT PATTERN (using <div>*/
/* h1 {
    margin-left: 80px;
}

p {
    margin-left: 80px;
}

button {
    margin-left: 80px;
} */

/* .container {
    margin-left: 10px;
} */

/* MIN and MAX WIDTH */

/* .box {
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    height: 100px;
    min-height: 50%;
    background-color: mediumvioletred;
    margin: 0 auto;
} */

/* ROUNDING ELEMENTS using BORDER-RADIUS */

/* .box {
    height: 100px;
    width: 100px;
    background-color: forestgreen;
    border-radius: 10px 20px 30px 40px;
     /* border-top-left-radius: 30px;  

} */

/* BOX SHADOW PROPERTY */
/* .box {
    width: 200px;
    height: 200px;
    /* border: 1px solid grey;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
} */

/* WORKING WITH OVERFLOW PROPERTY */

.box {
    border: 6px solid olive;
    height: 300px;
    width: 300px;
    font-size: 40px;
    margin: 0 auto;
    overflow-y: hidden;
    /* default-overflow: visible; */
}

span {
    width: 400px;
    background-color: orangered;
    display: inline-block;
}