/* Keyframes
syntax: @keyframes spin{
    from{

    }
    to{

    }
} */

/* .box {
    width: 300px;
    height: 300px;
    background-color: orangered;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: spin;
    animation-duration: 3s;
} */

/* @keyframes colorchange {
    from {
        background-color: pink;
    }

    to {
        background-color: cyan;
    }
} */

/* @keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
} */


/* Defining Key Frames animation with more than a from and a to */
/* .box {
    width: 300px;
    height: 300px;
    background-color: orangered;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: rainbow;
    animation-duration: 3s;
}

@keyframes rainbow {
    0% {
        background-color: red;
    }

    20% {
        background-color: yellow;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: violet;
    }
} */

/* Using transform with percentages*/

/* .box {
    width: 300px;
    height: 300px;
    background-color: orangered;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: move;
    animation-duration: 3s;
}

@keyframes move {
    0% {
        transform: translateX(0);
        background-color: purple;
    }

    50% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(250px);
        background-color: magenta;
    }
} */


/* Using other animation properties */
/* h1 {
    /* animation-name: spin;
    animation-duration: 1s;
    display: inline-block;
    animation: spin 1s infinite reverse linear;
    /* animation-iteration-count: infinite;
} */

/* .box {
    width: 300px;
    height: 300px;
    background-color: orangered;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s spin alternate-reverse infinite ease-in-out;
    /* animation-name: spin;
    animation-duration: 3s;
    animation-direction: alternate-reverse; */
/* animation-iteration-count: infinite; */
/*animation-timing-function: ease-in-out;
} */

/* @keyframes spin {
    from {
        transform: rotate(0);

    }

    to {
        transform: rotate(360deg);
    }
} */

/* Animation shorthand */
/* .box {
    width: 300px;
    height: 300px;
    background-color: orangered;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s spin alternate-reverse infinite ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0);

    }

    to {
        transform: rotate(360deg);
    }
} */


/* Building a simple spinner animation  */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.spinner {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 12px solid #CFD8DC;
    border-top-color: #3f51b5;
    animation: 1s spin infinite ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
    }
} */


/* Creating More Complex Loader */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #03a9f4;
    margin: 0 10px;
}

.loader span:nth-child(1) {
    animation: 1s jump infinite ease-in-out;
}

.loader span:nth-child(2) {
    animation: 1s 0.33s jump infinite ease-in-out;
}

.loader span:nth-child(3) {
    animation: 1s 0.66s jump infinite ease-in-out;
}

@keyframes jump {

    0% {
        transform: translateY(0) scale(1);
    }

    30% {
        transform: translateY(-20px) scale(1.2);
    }

    75% {
        transform: translateY(0) scale(1);
    }

} */


/* Animation fill Mode Property*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: tomato;
    height: 200px;
    width: 200px;
    animation: 2s move ease-in-out;
    /* animation-fill-mode: forwards; */
    /* backwards property is observed when there is animation delay property being*/
    /* animation-fill-mode: backwards; */
    /* Both value of animation fill mode function will start with first relevant animation and stays to the last relevant animation effect*/
    animation-fill-mode: both;
    animation-delay: 2s;
}


@keyframes move {
    0% {
        transform: translateX(0);
        background-color: hotpink;
    }

    100% {
        transform: translateX(300px);
        background-color: olive;
    }
}