/* Background Property */
/* backgroun-image and background-repeat */

/* .box {
    border: 1px solid red;
    width: 500px;
    height: 500px;
    background-image: url("images/peacock.png");
    background-repeat: no-repeat;
} */

/* Background-size */
/* contain and cover */

/* .box {
    border: 1px solid red;
    width: 900px;
    height: 500px;
    background-image: url("images/people.jpg");
    background-size: cover;
} */

/* Background-Position */
/* top, bottom, left, right or combination */
/* .box {
    border: 1px solid red;
    width: 200px;
    height: 400px;
    background-image: url("images/woman.jpg");
    background-size: cover;
    background-position: top left;
} */

/* Backgroung-clip */
/*  */

/* .box {
    border: 20px dashed red;
    width: 400px;
    height: 400px;
    background-image: url("images/woman.jpg"); */
/* background-size: cover;
    background-position: top left; */
/* padding: 30px; */
/* background-clip: padding-box; */
/* background-clip: content-box;
} */

/* Give this container a background image using the URL below.  Make sure that the entire wolf in the original image is visible in the container */

/*  https://i.postimg.cc/Jh60BT85/Screen-Shot-2023-01-30-at-10-08-54-AM.png */
.container {
    width: 800px;
    height: 600px;
    border: 2px solid red;
    background-image: url("https://i.postimg.cc/Jh60BT85/Screen-Shot-2023-01-30-at-10-08-54-AM.png");
    background-position: bottom left;
}

/*  Give the container a background image using the image url below. Adjust the image so that the entire image is visible in the container*/

/* https://images.unsplash.com/photo-1674905682134-496ca5a4862b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1376&q=80 */

.container2 {
    width: 300px;
    height: 500px;
    border: 2px solid red;
    background-image: url("https://images.unsplash.com/photo-1674905682134-496ca5a4862b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1376&q=80");
    background-size: cover;
}