body {
    font-family: Montserrat, sans-serif
}

/* h1 {
    text-transform: uppercase;
    text-decoration-line:line-through;
    text-decoration-color:cyan;
    text-decoration-style:wavy;
} */
/* #featured {
    background-color: gold;
    font-size: 20px;
}

#cast {
    list-style-type: circle;
    list-style-position: inside;
} */

/* a:visited {
    color: orangered;
}

a:hover {
    color: magenta
} */

h1 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 100;
    /* font: 100 50px Montserrat, sans-serif; */
}

p {
    font: 200 20px/2 Montserrat, sans-serif;
}