/* Flex-boe exercise: display:flex */
/* h1 {
    font-size: 5rem;
    text-align: center;
}

.container {
    background-color: #283593;
    margin: 0 auto;
    width: 1000px;
    height: 800px;
    display: flex;
    /* flex-direction: column;
    flex-direction: row-reverse;
}

span {
    color: white;
    background-color: #26C6DA;
    font-size: 4rem;
    width: 400px;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
} */



/* Flex exercise-Justicy-content */
/* h1 {
    font-size: 5rem;
    text-align: center;
}

.container {
    background-color: #283593;
    margin: 0 auto;
    width: 1000px;
    height: 800px;
    display: flex; */
/* flex-direction: column;
    flex-direction: column-reverse;
    /* justify-content: space-between; */
/* justify-content: flex-end; 
    justify-content: flex-end;
    /* flex-direction: column; */
/* flex-direction: row-reverse;
}

span {
    color: white;
    background-color: #26C6DA;
    font-size: 4rem;
    width: 400px;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
}



/* Flex exercise: Aligns-items */
/* h1 {
    font-size: 5rem;
    text-align: center;
}

.container {
    background-color: #283593;
    margin: 0 auto;
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column; */
/* flex-wrap: wrap; 
    align-items: center;
    justify-content: flex-end;
    /* justify-content: center; */
/* justify-content: space-around; */
/* align-items: center;
}

span {
    width: 200px;
    color: white;
    background-color: #26C6DA;
    font-size: 3rem;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
}



/* Flex exercise: align-content */
/* h1 {
    font-size: 5rem;
    text-align: center;
} */

/* .container {
    background-color: #283593;
    margin: 0 auto;
    width: 1200px;
    height: 800px;
    display: flex;
    flex-wrap: wrap; */
/* flex-direction: row;
    flex-direction: column;
    /* justify-content: center; */
/* align-items: center;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
}

span {
    width: 250px;
    height: 150px;
    color: white;
    background-color: #26C6DA;
    font-size: 3rem;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
}


/* Align-self Exercise */
h1 {
    font-size: 5rem;
    text-align: center;
}

.container {
    background-color: #283593;
    margin: 0 auto;
    width: 1200px;
    height: 800px;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* align-items: flex-end; */
    align-items: center;
    justify-content: space-between;

}

span {
    width: 250px;
    color: white;
    background-color: #26C6DA;
    font-size: 3rem;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
}

.special {
    /* align-self: flex-start; */
    align-self: flex-end;
}