/* Introducinf before and after pseudo elements */
/* We can use the ::before and ::after pseudo-elements to insert content onto a page vis CSS without it needing to be in the HTML */
/* h1 {
    font-size: 5rem;
} */

/* h1::before {
    content: "BEFORE: "
} */

/* Another Example for pseudo elements */

/* h1::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: purple;
    display: inline-block;
}

h1::after {
    content: " AFTER:"
} */

/* Creating Decorative Qoutes with Psuedo-Elements(sample approach) */
/* blockquote {
    font-size: 3rem;
    font-style: italic;
    width: 50%;
} */

/* 
.qoute {
    font-size: 6rem;
    background-color: grey;
    display: inline-flex;
    justify-content: center;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
} */

/* Better approach not to clutter the mark up with decorative stuff */
/* blockquote {
    font-size: 3rem;
    font-style: italic;
    width: 50%;
    position: relative;
}

blockquote::before {
    content: open-quote;
    top: -50px;
    left: -50px;
}

blockquote::after {
    content: close-quote;
    bottom: -100px;
    right: -30px;
}

blockquote::before,
blockquote::after {
    font-size: 6rem;
    position: absolute;
} */


/* Gradient Borders With Pseudo-Elements */
/* body {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.box {
    background-color: black;
    color: white;
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: sans-serif;
    /* border: 2px solid white;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

/* Creating a border without using pseudo-elements
.box::before {
    content: "";
    height: 306px;
    width: 306px;
    background: linear-gradient(cyan, magenta);
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: -1;
}

*/

/* Creating Fancy Animated Buttons with Pseudo-elements */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.btn {
    padding: 20px 40px;
    text-transform: uppercase;
    border: 2px solid #e91e63;
    border-radius: 25px;
    text-decoration: none;
    color: #e91e63;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease;
}

.btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e91e63;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: -1;
}

.btn:hover {
    color: white;
}

.btn:hover::before {
    transform: translateX(0);
} */

/* Creatinng Fancy Animated Spinner with pseudo-elements */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.spinner {
    width: 300px;
    height: 300px;
    background: conic-gradient(cyan, yellow, magenta);
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0px 0px 110px -70px black;
    position: relative;
    animation: spin 1.5s linear infinite;
}

.spinner::after {
    content: "";
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 110px -70px black;
    border: 4px solid white;
}

@keyframes spin {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
} */

/* Creating a Form Controls with pseudo-elements */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.toggle {
    opacity: 0;
}

.toggle+label {
    position: relative;
    padding-left: 5rem;
}

.toggle+label::before {
    content: "";
    background-color: #c6d0cc;
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    transition: background-color 0.2s;
}

.toggle+label::after {
    content: "";
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    transition: transform 0.2s;
}

.toggle:checked+label::before {
    background-color: #20b776;
}

.toggle:checked+label::after {
    transform: translateX(2rem);
}