body {
    background-color: #463d36;
    color: 463d36;
    font-family: sans-serif;
}

#skicard {
    /* font-family: sans-serif; */
    /* border: 2px solid black; */
    background-color: white;
    box-sizing: border-box;
    width: 600px;
    /* margin-left: 30%;
    margin-top: 50px; */
    margin: 100px auto;
    border-radius: 20px 20px 20px 20px;
    padding: 40px 40px;



}

#skicard h2 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    color: #a6192e;
    margin: 0px;
}

/* .open {
    border: 0 28px;
} */

#skicard h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 28px;

}

#skicard p {
    font-size: 28px;
}

#skicard button {
    font-size: 24px;
    text-transform: uppercase;
    padding: 30px 40px;
    background-color: #463d36;
    color: white;
    font-weight: bold;

}