/* ADJACENT COMBINATOR (plus sign) */

/* h2+p {
    color: deeppink;
} */

/* SIBLING COMBINATOR (~ sign)*/
/* h2~p {
    color: deeppink; 
}

/* PSEUDO-CLASSES */
/* h2:hover {
    color: orange;
}

input:placeholder-shown {
    background-color: red;
}

a:visited {
    color: olive;
} */

/* li:first-of-type {
    border: 1px solid green;
} */

/* li:last-of-type {
    border: 1px solid magenta;
} */
/* li:nth-of-type(2) {
    border: 1px solid magenta;
} */
/* li:nth-of-type(2n) {
    border: 1px solid magenta;
}

button:active {
    background-color: pink;
}

input:focus {
    border: 20px solid green;
}

body :not(.score) {
    border: 1px solid yellowgreen;
} */

/* PSEUDO ELEMENTS */
/* p::first-line {
    color: blue;
    text-transform: uppercase;
} */
/* p:first-of-type::first-letter {
    color: blue;
    text-transform: uppercase;
    font-size: 200%;
} */

/* SPECIFICITY PROPERTIES */
/* 1.Inline Styles
2. ID Selectors
3. Class | Attribute | Pseudo-Class
4. Type | Pseudo-Elements */


/*Type */
/* p {
    color: olive;
    font-family: fantasy;
}

/* Class */
/* .featured {
    color: orangered;
    font-size: 30px;
} */

/* ID */
/* #special {
    color: magenta;
    font-size: 10px;
}
*/
/* Inline Styles-styled directly to the mark up file(html file) */

/* CALCULATING SPECIFICITY */
/* Browser calculate specificity by using the model: ID   Class/Attribute/Pseudo-Class     Type/Pseudo-Elements and count the number of properties it appeared on the css styling selection */

/* .special {
    color: olive;
}

p:nth-of-type(2) {
    color: orangered;
} */

/* IMPORTANT AND THE CASCADE */
/* Cascade means that in the event of a conflict, the browser will decide in the order of  1.Importance   2.Origin  3.Specificity  4. Position  */

/* Origin */
/* #heading {
    color: purple;
}

h1 {
    color: olive !important;
} */

/* Origin */
/* Custom styles win over browser styles */

/* Specificity */
/* * {
    color: red;
}

h1 {
    color: blue;
} */

/* Position */

/* This will win vs. h1 with color blue since its the latest style being applied */
h1 {
    color: magenta;
}