/* CSS units */

/* ABSOLUTE UNITS Example*/

/* Pixel(px) */
/* .box {
    background-color: purple;
    height: 10px;
    width: 10px;
    margin: 200px;
} */

/* centimeter(cm) */
/* .box {
    background-color: purple;
    height: 10cm;
    width: 10cm;
    margin: 200px;
} */

/* Points(pt) */
/* .box {
    background-color: purple;
    height: 10pt;
    width: 10pt;
    margin: 200px;
} */

/* RELATIVE UNITS Example*/

/* Percentage{%} */
/* .container {
    border: 1px solid black;
    height: 600px;
    width: 600px;
}

.box {
    background-color: olive;
    width: 50%;
    height: 50%;
    margin: 25% auto;

}

p {
    font-size: 40px;
    line-height: 100%;
} */

/* rem/Root HTML Element    1 rem is equal to html root element units which is 16px by default*/
/* h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6rem;
}

p {
    font-size: 2rem;
}

.pixel h1 {
    font-size: 96px;
}

.pixel h2 {
    font-size: 64px;
}

.pixel p {
    font-size: 32px;
} */

/* em pronounce as M and also a relative units*/
/* Relative to the parents elements font size. */
/* .container {
    font-size: 20px;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 1.5em;
}

.small {
    font-size: 0.7em;
} */

/* VH(View Height) VW(View Width) */

/* .container {
    background-color: magenta;
    height: 500px;
    width: 500px;
} */

/* .container {
    background-color: magenta;
    height: 500px;
    width: 100%;
} */

/* body {
    margin: 0;
}

.container {
    background-color: magenta;
    height: 100vh;
    width: 100vw;
}

.container2 {
    background-color: cyan;
    height: 100vh;
    width: 100vw;
} */

/* WRAP UP for CSS units */
/* 
px- not used in font size
   -can be used for borders and shadow

   rem/em- good choice for font size and often for padding and margin

   Percentages- useful for defining layouts
   vh/vw-used for larger layouts concerns
*/

/* FLOAT */

p {
    font-size: 30px;
    margin-left: 100px;

}

img {
    width: 400px;
    float: left;
    /* margin-top: 100px;
    margin-right: 100px; */
}

.container {
    width: 1000px;
    border: 2px solid red;
}