/* Making Responsive Design

-Responsive web design(RWB) is the art of making websites that across different screen sizes/orientations. IN other words, the layout and experience of the website responds to the device a user is on to ensure its always usable*/

/* Media querries-allows us to specify styles that are only applied at certain device screen widths. They are the lifeboard of developing finely-tuned responsive websites */

/* Media Queries */

/* body {
    background-color: red;
} */

/* @media(max-width:800px) {
    body {
        background-color: cyan;
    }
} */

/* @media(min-width:800px) {
    body {
        background-color: orange;
    }
}

@media(min-width:1200px) {
    body {
        background-color: yellow;
    }
} */

/* @media only screen and (max-width: "768px"){}

"only" is a keyword called a logical operator that prevents older browsers that dont support media queries from applying these styles in general(and not just for the specified screen widths*/
/* screen is the media type in this case. There are other media types like print ao, but screen is what helps us write styles for different device screen sizes. */
/* body {
    background-color: red;
}

@media(min-width:800px) {
    body {
        background-color: orange;
    }
}

@media(min-width:1200px) {
    body {
        background-color: yellow;
    }
} */

/* h1 {
    font-size: 3rem;
} */

/* @media only print {
    h1 {
        font-size: 10rem;
    }
} */

/* @media only screen and (max-width: "768px"){} */
/* "and is another logical operator that helps us combine media features and/or media types together. IN this case, were combining a media type(screen) and a media features(the max-width portion)" */

/* body {
    background-color: red;
}

@media only screen and (min-width:800px) {
    body {
        background-color: orange;
    }
}

@media only screen and (min-width:1200px) {
    body {
        background-color: yellow;
    }
} */

/* this type of media query where order matters, if 2 media query is available. the device will follow the hierachy or order of styling css */

/* Working with Media Features */
/* max-width is an example of media query features . Its actually the width with "max" added on. There are many other media features, which can also be modified by min and max. */

/* See the following example */
/* Width(max. min, exact: */

/* body {
    background-color: red;
} */

/* @media only screen and (width:1200px) {
    body {
        background-color: orange;
    }
} */

/* @media only screen and (min-width:1200px) {
    body {
        background-color: yellow;
    }
} */


/* Height(min, max, exact */
/* body {
    background-color: red;
}

@media only screen and (max-height:1200px) {
    body {
        background-color: orange;
    }
} */


/* Orientation */
/* body {
    background-color: red;
} */

/* Portrait */
/* @media only screen and (orientation:portrait) {
    body {
        background-color: orange;
    }

    h1::before {
        content: "portrait";
    }

} */


/* Landscape */
/* @media only screen and (orientation:landscape) {
    body {
        background-color: orange;
    }

    h1::before {
        content: "landscape";
    }

} */

/* Media Query Logical Operators */
/* OR */
/* body {
    background-color: red;
}

@media (max-width:600px) or (min-width:1200px) {
    body {
        background-color: purple;
    }
} */

/* NOT */
/* @media not (max-width:600px) {
    body {
        background-color: purple;
    }
} */

/* the same result using
@media (min-width:600px) {
    body {
        background-color: purple;
    }
} */



/* Exercise on Media Query */

/* 
Give the h1 the following font sizes:
- for screen sizes below 800 pixels: 3rem
- for screen sizes between 800 and 1000 pixels: 5rem
- for screen sizes above 1000 pixels: 7rem
*/

/* Solution */
/* - for screen sizes below 800 pixels: 3rem */
/* @media(max-width: 800px) {
    h1 {
        font-size: 3rem;
    }
} */

/* for screen sizes between 800 and 1000 pixels: 5rem */

/* @media (max-width:800px) or (min-width:1000px) {
    h1 {
        font-size: 5rem;
    }
} */

/* - for screen sizes above 1000 pixels: 7rem */
/* @media(min-width:1000px) {
    h1 {
        font-size: 7rem;
    }
} */

/* body {
    background-color: red;
} */

/* media query level4 sample */
/* @media (width<800px) {
    body {
        background-color: olive;
    }
} */



/* Common Resposive Breakpoints */

/* 0-480px: Mobile screen size */
/* 481-768px: Tablet Breakpoint */
/* 769-1024px: Small desktop */
/* 1025-up: large desktop */

/* Note: These breakpoints are general rule of thumb, but in reality every unique layout and design requires attention to its own specific breakpoints. Test layouts thoroughly */

/* Large Desktop */
/* @media only screen and (min-width:1025px) {
    body {
        background-color: green;
    }

    body::before {
        content: "Large Desktop size";
    }
} */

/* Small Desktop Layout */
/* @media only screen and (max-width:1024px) {
    body {
        background-color: blue;
    }

    body::before {
        content: "Small Desktop size";
    }
} */


/* Mobile Layouts */
/* @media only screen and (max-width:768px) {
    body {
        background-color: orange;
    }

    body::before {
        content: "Tablet size";
    }
} */

/* max-width(up to) */

/* Tablet Lay out */
/* @media only screen and (max-width:480px) {
    body {
        background-color: red;
    }

    body::before {
        content: "Mobile size";
    }
} */

/* Longer Version 
@media only screen and(min-width:481px) and (max-width:768px){
    body {
        background-color: red;
    }

    body::before {
        content: "Mobile size";
    }
}*/

/* Creating A Simple Responsive Navbar */
/* .navbar {
    display: flex;
    background-color: slateblue;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.navbar a {
    color: white;
    font-size: 1.5rem;
    margin: 0 20px;
}

.links {
    display: flex;
}

@media only screen and (max-width:769px) {
    .navbar a {
        margin: 0 5px;
    }
}

@media only screen and (max-width:480px) {
    .navbar {
        flex-direction: column;
        padding: 20px;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }
} */

/* .navbar .links {
    margin-right: 40px;
}

.navbar h1 {
    margin-left: 40px;
} */

/* Responsive Flexbox Grid Demo(Desktop First design) */


/* .box {
    border: 2px solid white;
    box-sizing: border-box;
    flex: 1 1 20%;
    height: 300px;
    background-color: steelblue;
}

.box:nth-of-type(2n) {
    background-color: lightseagreen;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width:1400px) {
    .box {
        flex: 1 1 25%;

    }
}

@media only screen and (max-width:1000px) {
    .box {
        flex: 1 1 33.33%;

    }
}

@media only screen and (max-width:700px) {
    .box {
        flex: 1 1 50%;

    }
}

@media only screen and (max-width:500px) {
    .box {
        flex: 1 1 100%;

    }
} */



/* Building a Simple Mobile-First Layout */

header,
footer {
    background-color: purple;
    height: 200px;
}

article {
    background-color: teal;
    height: 400px;
}

aside {
    background-color: aquamarine;
    height: 400px;
}

@media only screen and (min-width:1000px) {
    main {
        display: flex;
    }

    article {
        flex: 1 1 70%;
    }

    aside {
        flex: 1 1 30%;
    }
}

@media only screen and (min-width:1500px) {

    article {
        flex: 1 1 80%;
    }

    aside {
        flex: 1 1 20%;
    }
}