/* Display Flex and Flex  */

/* Main Axis and Cross Axis--direction of the content(left to right/top-bottom)
/  */

/* h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
}

.container {
    border: 4px solid black;
    width: 1200px;
    margin: 40px auto; */
/* justify-content: flex-end; 
    display: flex;
}

.box {
    width: 150px;
    height: 150px;
    font-size: 4rem;
    text-align: center;
}

/* Flex-Direction */
/* row/row-reverse */
/* h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
}

.container {
    border: 4px solid black;
    width: 1200px;
    margin: 40px auto; */
/* justify-content: flex-end; 
    display: flex;
    flex-direction: row-reverse;
}

.box {
    width: 150px;
    height: 150px;
    font-size: 4rem;
    text-align: center;
}

/* column/column-reverse */
/* h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
}

.container {
    border: 4px solid black;
    width: 1200px;
    margin: 40px auto; */
/* justify-content: flex-end; 
    display: flex;
    /* flex-direction: column; 
    flex-direction: column-reverse;
}

.box {
    width: 150px;
    height: 150px;
    font-size: 4rem;
    text-align: center;
}

/* Flex-Wrap */
/* h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
}

.container {
    border: 4px solid black;
    width: 1200px;
    height: 1000px;
    margin: 40px auto; */
/* justify-content: flex-end; 
    display: flex;
    /* flex-direction: column; */
/* flex-direction: row;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
/* flex-wrap: wrap-reverse; */

/* default syntax:  flex-wrap: nowrap;  
}

.box {
    width: 300px;
    height: 500px;
    font-size: 4rem;
    text-align: center;
}


/* Justify Content */
/* default-value:justify-content:flex-start;*/

/* h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
} */

/* .container {
    border: 4px solid black;
    width: 1200px;
    /* height: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: row; 
    /* justify-content: flex-end; */
/* justify-content: center; */
/* justify-content: space-between; */
/* justify-content: space-around; */
/* flex-wrap: wrap; 

}

.box {
    width: 150px;
    height: 240px;
    font-size: 4rem;
    text-align: center;
}


/* Alignment:flex-direction:column */
/* .container {
    border: 4px solid black;
    width: 1300px;
    height: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: column; */
/* justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;

}

/* align-items */
/* h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
}

.container {
    border: 4px solid black;
    width: 1200px;
    height: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; */
/* align-items: stretch; */
/* align-items: center;
    align-items: flex-end;

}

.box {
    width: 150px;
    height: 240px;
    font-size: 4rem;
    text-align: center;
}


/* align-content */
/* h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
}

.container {
    border: 4px solid black;
    width: 1300px;
    height: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; */
/* align-items: center;
    align-items: flex-end;
    /* align-content: flex-end; */
/* align-content: flex-start; */
/* align-content: center; */
/* align-content: space-between;
    align-content: space-around;
}

.box {
    width: 300px;
    height: 240px;
    font-size: 4rem;
    text-align: center;
}


/* align-self */
/* h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
}

.container {
    border: 4px solid black;
    width: 1300px;
    height: 1000px;
    margin: 40px auto;
    display: flex; */
/* flex-direction: row;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: wrap; */
/* align-items: center;
    align-items: flex-end;
    align-content: center;
}

.box {
    width: 300px;
    height: 240px;
    font-size: 4rem;
    text-align: center;
}

.special {
    /* align-self: flex-start; */
/* align-self: flex-end; */
/* align-self: center;
    align-self: flex-start;

}



/* flex: <flex-grow>-dictates how much of the available space inside the flex container the item should take up */
/* flex: <flex-shrink> */
/* flex: <flex-basis> */

/* .sidebar {
    text-transform: uppercase;
    background-color: palevioletred;
    flex-grow: 1;
    max-width: 200px;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
}

.container {
    border: 4px solid black;
    width: 1300px;
    height: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    background-color: darkseagreen;
    margin: 0;
    width: 600px;
    flex-grow: 2;

} */

/* flex: flex-shrink */
/* .sidebar {
    text-transform: uppercase;
    background-color: palevioletred;
    width: 300px;
    flex-shrink: 10;

}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
}

.container {
    border: 4px solid black;
    width: 1300px;
    height: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    background-color: darkseagreen;
    margin: 0;
    width: 1000px;
    flex-grow: 1;
    flex-shrink: 1;
} */

/* flex-basis */
/* .sidebar {
    text-transform: uppercase;
    background-color: palevioletred;
    width: 300px;
    flex-shrink: 10;

}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
}

.container {
    border: 4px solid black;
    width: 1300px;
    height: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    background-color: darkseagreen;
    margin: 0;
    /* width: 1000px;
    flex-grow: 1;
    flex-basis: 500px;
} */

/* Flex shorthand */
/* need to  watch again tutorials, topics does not sink in*/


/* order property */
/* h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 6rem;
}

.container {
    border: 4px solid black;
    height: 1500px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: purple;
    flex: 1;
    height: 200px;
    margin: 30px;
    font: 3rems;
    color: white;
    text-align: center;
    order: 1;
}

.special {
    order: 1;
    background-color: orangered;
} */

/* APPLYING Learnings From CSS FLEX FUNCTIONS AND PROPERTIESby Creating a Navigation Bar*/

/* body {
    margin: 0;
}

.navbar {
    background-color: #37474f;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.navlink {
    color: white;
    font-size: 2rem;
    margin: 0 30px;

}

.right {
    margin-left: auto;
    margin-right: 100px;
} */

/* Nesting flex containers */
/* body {
    margin: 0;
}

.navbar {
    background-color: #37474f;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left {
    background-color: red;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.right {
    background-color: blue;
    display: flex;
    justify-content: flex-end;
    width: 500px;
}

.navlink {
    color: white;
    font-size: 2rem; */
/* margin: 0 30px;
}

/* .navright {
    /* margin: 0 50px; 
    padding: 0 30px;
} */

/* Flexbox Patterns Centering Content  */
/* body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(cyan, purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: yellow;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 50%;
} */



/* Flexbox Patterns Building Cards */
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(cyan, purple);
}

.container {
    display: flex;
    justify-content: center;


}

.card {
    background-color: white;
    border-radius: 5px;
    width: 400px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 10px;
    border-radius: 10px;

}

.card footer {
    background-color: slateblue;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    border-radius: 10px;
}