.box1 {
    background-color: #F44336;
    width: 100px;
    height: 100px;
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
}

.box2 {
    background-color: #E91E63;
    width: 100px;
    height: 100px;
    /* position: absolute; */
    position: fixed;
    top: 0;
    right: 0;
}

.box3 {
    background-color: #9C27B0;
    width: 100px;
    height: 100px;
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    left: 0;
}

.box4 {
    background-color: #3F51B5;
    width: 100px;
    height: 100px;
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    right: 0;
}