body {
    margin: 0;
    padding: 0;
    font-family: "Forum", serif;
}

.hero {
    background-color: #f08e80;
    min-height: 90vh;
    color: white;
    display: inline-block;
}

.hero-content {
    padding: 0 15%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 24px 32px;
}

.navbar .links a {
    color: white;
    text-decoration: none;
    margin-right: 16px;
    font-size: 1.2rem;
}

.navbar p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.navbar .contact {
    background-color: white;
    color: #f08e80;
    padding: 16px 24px;
    text-decoration: none;
}

.navbar .contact:hover {
    opacity: 0.8;
}

.tagline {
    font-size: 4.5rem;
    color: white;
    letter-spacing: 2px;
    padding: 32px 0;
}

.two-column-section {
    font-size: 2rem;
}

s .two-column-section>p {
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.two-column-section .skills {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

.two-column-section .skills li {
    width: 50%;
    float: left;
    font-size: 1.25rem;
    margin: 8px 0;
}

.blog-section {
    background-color: white;
    padding: 64px 0;

}

.blog-content {
    padding: 0 15%;
}

.two-column-section .blog-posts {
    width: 50%;
    float: left;
}

.blog-heading {
    font-size: 1.5rem;
}

.blog-text {
    font-size: 1rem;
}

.blog-posts {
    margin-top: 24px;
}

.blog-posts .blog-date {
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 32px;
}

.blog-posts p {
    margin: 8px 0;
}

.events-section {
    background-color: #fdf0e6;
    padding: 64px 0;
    display: inline-block;
    width: 100%;
}

.events-content {
    padding: 0 15%;
}

.events-card {
    width: 50%;
    float: left;
    margin-top: 24px;
}

.events-card p {
    margin: 8px 0;
}

.event-title {
    font-size: 1.5rem;
}

.event-location {
    font-size: 1rem;
}

.events-card .event-date {
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 32px;
}

footer {
    background-color: black;
    color: white;
    padding: 60px;

}

.footer-content {
    text-align: center;
}

footer img {
    height: 2rem;
    width: 2rem;
    margin: 0 8px;

}

/* .two-column-section-events {
    font-size: 1.5rem;
    height: 100vh;
}

.two-column-section-events>p {
    width: 50%;
    box-sizing: border-box;
    float: left;
} */


@media only screen and (max-width:1000px) {

    .hero-content,
    .blog-content,
    .events-content {
        padding: 0 5%;
    }
}

@media only screen and (max-width:750px) {
    .tagline {
        font-size: 3.5rem;
    }

    .two-column-section>p {
        width: 100%;
    }

    .two-column-section .skills {
        width: 100%;
    }

    .two-column-section .blog-posts {
        width: 100%;
    }

    .section-heading {
        font-weight: bold;
        font-size: 2.5rem;
        margin: 0;
    }

}

@media only screen and (max-width:500px) {
    .tagline {
        font-size: 3rem;
        margin: 0;
    }

    .links {
        display: none;
    }

}