/* Transition and KeyFrame Animations */
/* Use animation from one state to another or one color to another or one size to another or one opacity to another*/
/* Syntax on Creating Transition */
/*transition: <property> <duration> <timing-function> <delay>  */

/* Transition */

/* .btn {
    border: 2px solid black;
    color: orangered;
    padding: 10px 20px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;

}

.btn:hover {
    background-color: orangered;
} */



/* Working with Multiple Property Transition */

/* .btn {
    border: 2px solid black;
    color: orangered;
    padding: 10px 20px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    transition: color 3s, background-color 0.5s;

}

.btn:hover {
    background-color: orangered;
    color: white;

} */

/* Timing Function */
/* .btn {
    border: 2px solid black;
    color: orangered;
    padding: 10px 20px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    transition: transform 3s ease-in; */
/* ease, ease-out, cubic-besier */


/* }

.btn:hover {
    transform: translateX(100px);
} */

/* Delay */

/* .btn {
    border: 2px solid black;
    color: orangered;
    padding: 10px 20px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    transition: background-color 2s ease-in 1s; */
/* ease, ease-out, cubic-besier */

/* }

.btn:hover {
    background-color: olive;
} */

/* All About Animation */
/* Can affect the performance of the styles upon rendering */
/* Transform and Opacity is the most animatable property due to its characteristic that can be easily rendered by the browser */

/* Transform Property */
/*  1 value =translate */

/* .box {
    width: 100px;
    height: 100px;
    background-color: olive;
    display: inline-block; */
/* transform: translateX(900px); */
/* }

.first {
    background-color: orangered;
    transform: translate(100px, 200px);
    /* margin-left: 400px;
} */

/* Other Transform function */

/* Rotate */

/* .box {
    width: 100px;
    height: 100px;
    background-color: olive;
    display: inline-block; */
/* transform: translateX(900px);
}

.first {
    background-color: orangered;
    transform: rotate(45deg);
    /* margin-left: 400px;
}

h1 {
    transform: rotateX(70deg);
    display: inline-block;
    border: 1px solid black;
    /* padding: 200px;

}

/* Scale Property */

/*.box {
    width: 100px;
    height: 100px;
    background-color: olive;
    display: inline-block;
    /* transform: translateX(900px);
}

.first {
    background-color: orangered;
    /* transform: rotate(45deg);
    transform: scale(2, 3);
    /* margin-left: 400px; 
}

h1 {
    /* transform: rotateX(70deg); 
    display: inline-block;
    border: 1px solid black;
    /* transform: scale(5); */
/* padding: 200px;
}

/* Transfrom-origin Property */

.box {
    width: 100px;
    height: 100px;
    background-color: olive;
    display: inline-block;
    /* transform: translateX(900px); */
}

.first {
    background-color: orangered;
    transform: rotate(45deg);
    transform-origin: bottom right;
    /* transform: rotate(45deg); */
    /* transform: scale(2, 3); */
    /* margin-left: 400px; */
}

h1 {
    transform: rotate(20deg) scale(3);
    display: inline-block;
    border: 1px solid black;
    /* transform: scale(5); */
    /* padding: 200px;*/
}