.container {
    background-color: red;
    width: 400px;
    height: 400px;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    right: -50px;
    bottom: 150px;
    /* bottom: calc(50% - 50px) */
}