/* Variables */
:root {
    /* Setting up Font Variables */
    --text-dark: #000;
    --text-light: #fff;
    --text-grey: #adbdcc;
    --body-font: "Roboto", sans-serif;
    --heading-font: "Anek Telugu", sans-serif;
    /* Defining Basic Heading Styles */
    --h1-size: 94px;
    --h1-height: 108px;
    --h2-size: 50px;
    --h2-height: 75px;
    --h3-size: 40px;
    --h4-size: 32px;
    --h5-size: 28px;
    --h6-size: 22px;
    /* subtitle and paragraph size variable styles */
    --subtitle-size: 17px;
    --subtitle-height: 26px;
    --p-size: 18px;
    --p-height: 26px;
    --secondary-text-size: 14px;
    --secondary-text-height: 18px;
    /* Button Font-Size */
    --button-size: 16px;
    /* SPACING */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    /* Setting the maximum width */
    --standard-width: 1144px;
    /* Color Variables */
    --purple-1: #6962f7;
    --purple-2: #7000ff;
    --blue-1: #00d4ff;
    --primary-accent: #0a2540;
    /* Button Styles */
    --primary-button-hover: #6d7a88;
    /* Setting the Background-Color */
    --bg-white: #fff;
    --bg-light: #f7f9fc;
    --standard-border-radius: 20px;
    /* Backshadow */
    --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    /* Gradient variable */
    --primary-gradient: linear-gradient(101.33deg,
            #08209a 0.76%,
            #6563ff 33.33%,
            #36c5f0 76.92%,
            #83e2ff 969.96%);
}

/* Setting up the body styling */
html,
body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: var(--body-font);
    color: var(--text-dark);
    margin: 0;
    box-sizing: border-box;
    padding: var(--spacing-sm) 0 0 0;
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    margin: var(--spacing-xl)0 0 0;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h1-size);
    margin: 0;
    width: 100%;
    letter-spacing: -1px;
    line-height: var(--h1-height);
}

h2 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h3-size);
    margin: 0;
    width: 100%;
}

h3 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h3-size);
    margin: 0;
    width: 100%;
}

h4 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h4-size);
    margin: 0;
    width: 100%;
    letter-spacing: 0.25px;
}

h5 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h5-size);
    margin: 0;
    width: 100%;
    letter-spacing: 0.25px;
}

h6 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h6-size);
    margin: 0;
    width: 100%;
    letter-spacing: 0.25px;
}

a {
    text-decoration: none;
    color: var(--purple-1);
    font-weight: 500;
    transition: color 0.25s ease;
}

/* Creating the hover effect */
a:hover {
    color: var(--primary-accent)
}

/* Styling the paragraph elements */
p {
    font-size: var(--p-size);
    line-height: var(--p-height);
    font-weight: 400;
    margin: var(--spacing-md) 0;
}

/* Creating Text classes(secondary,subtitles) */
.subtitle,
.subtitle2 {
    color: var(--purple-1);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-height);
}

.subtitle2 {
    color: var(--blue-1);
}

.secondary-text {
    font-size: var(--secondary-text-size);
    line-height: var(--secondary-text-height);
    color: var(--text-grey);
    letter-spacing: 0.25px;
}

/* Defining the Button styles */
.primary-button {
    font-family: var(--body-font);
    font-size: var(--button-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: var(--standard-border-radius);
    border: none;
    background-color: var(--primary-accent);
    color: var(--text-light);
    padding: var(--spacing-sm) var(--spacing-md);
    transition: all 0.25s ease;
}

.primary-button:hover {
    background-color: var(--primary-button-hover);
    cursor: pointer;
}

.secondary-button {
    font-family: var(--body-font);
    font-size: var(--button-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: var(--standard-border-radius);
    border: none;
    background-color: transparent;
    color: var(--primary-accent);
    transition: all 0.25s ease;
}

.secondary-button:hover {
    opacity: 0.75;
    cursor: pointer;
}

/* Styling button with arrow */
.with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animating button with arrow during hover */
.with-icon>img {
    transition: transform 0.25s ease;
}

.with-icon:hover>img {
    transform: translateX(4px);
}



/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
    padding: 0 var(--spacing-md);
    margin: 0 0 var(--spacing-xl) 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: var(--text-light);
    margin: 0 var(--spacing-md);
    font-weight: bold;
}

/* Hover animation on the menu */
.menu a:hover {
    text-decoration: underline;
}

.navbar-button {
    background-color: rgba(250, 250, 250, 0.25);
}

/* Hover animation sign in button*/
.navbar-button:hover {
    background-color: rgba(250, 250, 250, 0.5);
}

/* Layout styles */

.section-container {
    width: 100%;
    max-width: var(--standard-width);
}

.section-container {
    width: 100%;
    max-width: var(--standard-width);
}

.two-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.two-column>.col-left {
    width: 50%;
    box-sizing: border-box;
    padding: 0 var(--spacing-md) 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.two-column>.col-right {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card .icon {
    height: 50px;
    margin: 0 0 var(--spacing-sm) 0;
}

.card h3 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h6-size);
    margin: 0;
    width: 100%;
    letter-spacing: 0.25px;
}

.hamburger-button {
    display: none;
}

/* Animated Gradient */
#gradient-canvas {
    width: 200%;
    height: 970px;
    transform: rotate(-10deg);
    position: absolute;
    top: -600px;
    left: -50%;
    z-index: -1;
    --gradient-color-1: #ef008f;
    --gradient-color-2: #6ec3f4;
    --gradient-color-3: #7038ff;
    --gradient-color-4: #ffba27;
}

/* Hero Styles */
.hero {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero p {
    max-width: 480px;
}


.button-container {
    display: flex;
    margin: var(--spacing-md) 0;
}

.button-container button:nth-of-type(2) {
    margin: 0 0 0 var(--spacing-md);
    color: var(--purple-2);
}

.hero .hero-phone-container {
    height: 564px;
    align-items: flex-end;
}

.hero-phone {
    height: 628px;
    transform: translate(32px, -32px);
}

/* partners grid section */
.partners-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.partners-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: var(--spacing-xl) 0;
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-lg);
}

.partners-grid img {
    height: 60px;
    place-self: center;
}

/* Unified Platform section */
.unified-platform-section {
    padding: var(--spacing-xl) 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-light);
}

.unified-platform-section h2 {
    width: 50%;
    margin-bottom: var(--spacing-md);
}

.unified-platform-section .primary-button {
    background-color: var(--purple-1);
    margin: var(--spacing-md) 0;
}

.unified-platform-section .primary-button:hover {
    background-color: var(--primary-accent);

}

/* Adding the graphics section Gallery */
.graphic-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-light);
}

.graphic-grid {
    display: grid;
    grid-template-areas:
        "card slack slack"
        "phone slack slack"
        "phone dash dash";
    grid-gap: var(--spacing-lg);
    padding: var(--spacing-lg) 0;
}

#credit-card {
    grid-area: card;
    width: 100%;
    box-shadow: var(--standard-box-shadow);
    border-radius: var(--standard-border-radius);
}

#slack-invoice {
    grid-area: slack;
    width: 100%;
    box-shadow: var(--standard-box-shadow);
    border-radius: var(--standard-border-radius);

}

#phone {
    grid-area: phone;
    width: 100%;
}

#dash {
    grid-area: dash;
    width: 100%;
    box-shadow: var(--standard-box-shadow);
    border-radius: var(--standard-border-radius);
}

/* Integration section Styles */
.integrations-section {
    color: var(--text-light);
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: calc(var(--spacing-xl) * 3) 0;
    z-index: 1;
}

.integrations-section::before {
    content: "";
    width: 100%;
    height: 1100px;
    background-color: var(--primary-accent);
    position: absolute;
    top: -32px;
    left: 0;
    z-index: -1;
    transform: skewY(-10deg);
}

.integrations-section::after {
    content: "";
    background-color: var(--bg-light);
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

}


.integrations-section::before .integrations-section .primary-button {
    background-color: var(--blue-1);
    color: var(--primary-accent);
    margin: var(--spacing-md) 0 0;
}

.integrations-section .primary-button:hover {
    background-color: var(--bg-white);
}

.integrations-section .secondary-button {
    color: var(--blue-1);
}

.integrations-section .card-container {
    display: flex;
    margin: var(--spacing-lg) 0;
}

.integrations-section .card-container .card {
    width: 50%;
}

#api-code {
    max-width: 470px;
    margin: 0 0 var(--spacing-md) 0;
    border-radius: var(--standard-border-radius);
}

#terminal-code {
    max-width: 470px;
    border-radius: Var(--standard-border-radius);
}

/* Defining the Why Swipe Section */

.why-swipe-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: calc(var(--spacing-xl) * 3) 0;
}

.why-swipe-section .card-container {
    display: flex;
    margin: var(--spacing-lg) 0;
}

.why-swipe-section .card-container .card {
    width: 25%;
    padding: 0 var(--spacing-sm) 0 0;
    margin: 0 var(--spacing-md) 0 0;
    box-sizing: border-box;
}

.why-swipe-section .secondary-text {
    color: var(--text-dark);
}

/* Global section */

.global-section {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--text-light);
    position: relative;
    padding: calc(var(--spacing-xl) * 3) 0 0 0;
}

.global-section::before {
    content: "";
    width: 100%;
    height: 1200px;
    background-color: var(--primary-accent);
    position: absolute;
    top: -32px;
    left: 0;
    transform: skewY(-10deg);
    z-index: -1;
}

.global-section a {
    color: var(--blue-1);
}

.global-section a:hover {
    color: var(--text-light);
}

.global-section .card-container {
    display: flex;
    margin: calc(var(--spacing-xl) * 2) 0;
}

.global-section .card-container .card {
    width: 25%;
    box-sizing: border-box;
    padding: 0 var(--spacing-sm) 0 0;
    margin: 0 var(--spacing-md) 0;
}

.global-section .card-container .card h3 {
    border-left: 2px solid var(--blue-1);
    padding: 0 0 0 var(--spacing-sm);
    line-height: 28px;
}

/* Positioning the Globe Image */

#globe {
    max-width: 844px;
    opacity: 25%;
    position: absolute;
    top: 10%;

}

/* Virtual event section */
.virtual-events-section {
    display: flex;
    justify-content: center;
    padding: calc(var(--spacing-xl) * 2) 0;
    position: relative;
}

.virtual-events-section::before {
    content: "";
    background-color: var(--bg-white);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.virtual-events-section .primary-button {
    background-color: var(--purple-1);
    margin: var(--spacing-md) 0 0 0;
}

.virtual-events-section .primary-button:hover {
    background-color: var(--primary-accent);
}

.virtual-events-section .col-left {
    height: 446px;
    padding: 0 var(--spacing-xl) 0 0;
}

.swipe-sessions-card {
    width: 540px;
    height: 446px;
    box-shadow: var(--standard-box-shadow);
    border-radius: var(--standard-border-radius);
    overflow: hidden;
}

.swipe-sessions-card .card-top {
    background-color: var(--purple-1);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swipe-sessions-card .card-top::before {
    background: var(--primary-gradient);
    content: "";
    width: 100%;
    height: 150%;
    position: absolute;
    top: -40%;
    transform: skewY(-5deg);
    z-index: 1;
}

#session-logo {
    z-index: 2;
    width: 338px;
}

.virtual-events-section .avatars {
    position: absolute;
    bottom: -70px;
    z-index: 3;
    left: var(--spacing-lg);
}

.virtual-events-section .avatars img {
    width: 80px;
}

.virtual-events-section .avatars img:nth-of-type(2) {
    position: absolute;
    left: 55px;
}

.virtual-events-section .card-bottom {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: var(--spacing-xl);
}

.virtual-events-section .card-bottom .subtitle {
    margin: var(--spacing-lg) 0 0 0;
}

.virtual-events-section .card-bottom .secondary-text {
    color: var(--text-dark);
    width: 50%;
    font-weight: 700;
}

/* Getting started section */
.getting-started-section {
    display: flex;
    justify-content: center;
    padding: var(--spacing-xl) 0;
}

.getting-started-section .col-right {
    flex-direction: row;
}

.getting-started-section .col-right .card {
    width: 50%;
    box-sizing: border-box;
    padding: 0 var(--spacing-sm) 0 0;
    margin: 0 var(--spacing-sm) 0 0;
}

.getting-started-section .primary-button {
    background-color: var(--purple-1);
    margin: var(--spacing-md) 0;
}

.getting-started-section .col-left {
    padding: 0 var(--spacing-xl) 0 0;
}

.getting-started-section .primary-button:hover {
    background-color: var(--primary-accent);
}

.getting-started-section .col-right .card .secondary-button {
    color: var(--purple-2);
    padding-left: 0;
}

/* Styling the Footer */
.footer {
    display: flex;
    justify-content: center;
    background-color: var(--bg-light);
    padding: var(--spacing-xl) 0;
}

.footer .section-container {
    display: flex;
}

#footer-logo {
    max-width: 108px;
    margin: 0 0 var(--spacing-md) 0;
}

.footer .col {
    width: 25%;
}

.footer .col ul {
    list-style: none;
    padding: 0;
}

.footer .col ul li {
    margin: var(--spacing-md) 0;
}

.footer .col a {
    color: var(--text-dark);
    font-weight: normal;
}

.footer .col a:hover {
    color: var(--purple-1);
    text-decoration: underline;
}

.footer .icon-link {
    display: flex;
    align-items: center;
    margin: var(--spacing-md) 0;
}

.footer .icon-link img {
    width: 24px;
}

.footer h3 {
    font-size: var(--h6-size);
    font-weight: 700;
}

/* Custom Breakpoints */
@media only screen and (max-width:1144px) {
    :root {
        --h1-size: 80px;
        --h1-height: 85px;
    }

    /* General Layout */
    .section-container {
        padding: 0 var(--spacing-md);
    }

    /* Hero section */
    .hero-phone {
        height: 550px;
        transform: translateY(-60px);
    }

    .hero .col-left {
        width: 60%;
    }

    .hero .col-right {
        width: 40%;
    }

    /* Partners Grid */
    .partners-section {
        margin: -60px 0 0 0;
    }

    .partners-grid {
        margin: 0 0 var(--spacing-xl) 0;
    }
}

/* Custom Breakpoints(850px) */
@media only screen and (max-width:850px) {
    :root {
        --h1-size: 70px;
        --h1-height: 75px;
    }

    /* Hero Section */

    .hero-phone {
        transform: translateY(-85px);
    }

    /* Partners Grid Section */
    .partners-grid img {
        width: 100%;
        height: auto;
    }

    /* Integration Section */
    .integrations-section .col-left {
        width: 60%;
    }

    .integrations-section .col-right {
        width: 40%;
    }
}

/* Tablet Size Styles */
@media only screen and (max-width:768px) {

    /* General Styles */
    :root {
        --h1-size: 58px;
        --h1-height: 65px;
        --h3-size: 34px;
        --h6-size: 16px;
    }

    /* Navbar Section */
    .navbar {
        margin: var(--spacing-sm) 0 var(--spacing-lg) 0;
    }

    .navbar .menu {
        display: none;
    }

    .navbar .navbar-button {
        display: none;
    }

    .hamburger-button {
        width: 50px;
        height: 30px;
        background-color: rgba(250, 250, 250, 0.25);
        border-radius: var(--standard-border-radius);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburger-button .bar {
        width: 18px;
        height: 2px;
        background-color: var(--bg-white);
        margin: 1px 0;
    }

    /* Main section */
    main {
        margin: 0;
    }

    /* gradient-section */
    #gradient-canvas {
        height: 820px;
    }

    /* Hero Section */
    .hero .two-column {
        align-items: center;
    }

    .hero .col-left {
        width: 60%;
    }

    .hero .col-right {
        width: 40%;
    }

    .hero-phone {
        height: 450px;
        transform: translateX(32px);
    }

    /* Partners Grid Section */
    .partners-section {
        margin: -20px 0 0 0;
    }

    /*Unified Platform Section */
    .unified-platform-section h2 {
        width: 100%;
    }

    /* Integration section */
    .integrations-section .card-container {
        flex-direction: column;
    }

    .integrations-section .card-container .card {
        width: 100%;
    }

    /* Why Swipe Section */
    .why-swipe-section {
        padding: var(--spacing-md) 0 var(--spacing-lg) 0;
    }

    .why-swipe-section .card-container {
        flex-wrap: wrap;
    }

    .why-swipe-section .card-container .card {
        width: 50%;
        margin: var(--spacing-md) 0;
    }

    /* Global Scale Section */
    .global-section .card-container {
        flex-wrap: wrap;
        margin: var(--spacing-xl) 0;
    }

    .global-section .card-container .card {
        width: 50%;
        margin: var(--spacing-md) 0;
    }

    /* Virtual Event Section */
    /* Geting started Session */
    .getting-started-section .two-column {
        align-items: center;
    }

    .getting-started-section .col-right {
        flex-wrap: wrap;
    }

    .getting-started-section .col-right .card {
        width: 100%;
        margin: var(--spacing-md) 0;
    }

}

/* Mobile Size Breakpoints */
@media only screen and (max-width:550px) {

    /* General Styles */
    :root {
        --h1-size: 58px;
        --h1-height: 65px;
        --h3-size: 34px;
        --h6-size: 16px;
    }

    .two-column {
        flex-direction: column;
    }

    .two-column .col-left {
        width: 100%;
    }

    .two-column .col-right {
        width: 100%;
        padding: 0;
    }

    /* NavBar */
    .navbar {
        margin: 0 0 var(--spacing-lg) 0;
    }

    /* Hero Section */
    main {
        margin: var(--spacing-lg) 0 0 0;
    }

    #gradient-canvas {
        height: 820px;
    }

    .hero .two-column .hero-phone-container {
        display: none;
    }

    /* Partners Grid Section */
    .partners-grid {
        grid-template-columns: 1fr 1fr;

    }

    .partners-section {
        margin: var(--spacing-xl) 0 var(--spacing-sm) 0;
    }

    /*Unified Platform Section */
    .unified-platform-section h2 {
        width: 100%;
    }

    .unified-platform-section {
        padding: var(--spacing-md) 0;
    }

    /* Integration Section */
    .integrations-section {
        padding: var(--spacing-lg) 0;
    }

    .integrations-section::before {
        height: 900px;
    }

    .integrations-section .col-right {
        display: none;
    }

    /* Why Swipe Section */
    .why-swipe-section {
        padding: var(--spacing-xl) 0 var(--spacing-lg) 0;
    }

    .why-swipe-section .card-container .card {
        width: 100%;
    }

    .why-swipe-section .card-container .card .icon {
        height: 30px;
    }

    /* Global Section */
    .global-section {
        padding: var(--spacing-xl) 0 0 0;
    }

    .global-section .card-container {
        margin: var(--spacing-md) 0;

    }

    .global-section .card-container .card {
        width: 100%;
        margin: var(--spacing-sm) 0;
    }

    #globe {
        opacity: 10%;
    }

    /* Virtual Event Section */
    .virtual-events-section {
        padding: 0;
    }

    .virtual-events-section .swipe-sessions-card {
        margin: var(--spacing-lg) 0;
        width: 100%;
    }

    .virtual-events-section .swipe-sessions-card .secondary-text {
        width: 100%;
    }

    .virtual-events-section .swipe-sessions-card .card-top {
        height: 40%;
    }

    #session-logo {
        width: 300px;
    }

    /* Getting Started Section */
    .getting-started-section {
        padding: var(--spacing-md) 0;
    }

    /* Footer Section */
    .footer .section-container {
        flex-wrap: wrap;
    }

    .footer .col {
        width: 50%;
        margin: var(--spacing-md) 0;
    }

    .footer .col a {
        font-size: 12px;
    }

    #footer-logo {
        width: 70px;
    }

    .footer .icon-link img {
        width: 18px;
    }


}